<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.notice.mapper.NoticeMapper">
	<select id="selectList" resultType="NoticeVO">
		SELECT * FROM TBL_NOTICE
		ORDER BY NOTICE_ID DESC
	</select>
	<select id="searchOne" resultType="NoticeVO">
		SELECT * FROM TBL_NOTICE WHERE
		NOTICE_ID = #{nid}
	</select>
	<insert id="insertNotice" parameterType="NoticeVO">
		<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">
		select notice_seq.nextval from dual</selectKey>
		INSERT INTO TBL_NOTICE
		(NOTICE_ID, NOTICE_WRITER ,NOTICE_TITLE,
		NOTICE_SUBJECT,attach_file)
		VALUES(${noticeId},
		#{noticeWriter},#{noticeTitle},#{noticeSubject},#{attachFile})
	</insert>

	<update id="updateNotice" parameterType="NoticeVO">
		UPDATE TBL_NOTICE
		SET
		NOTICE_TITLE=#{noticeTitle}
		,NOTICE_SUBJECT=#{noticeSubject}
		WHERE
		NOTICE_ID#{noticeId}
	</update>

	<delete id="deleteNotice" parameterType="int">
		DELETE FROM TBL_NOTICE
		WHERE NOTICE_ID=#{nid}
	</delete>

	<update id="increaseCnt" parameterType="int">
		UPDATE TBL_NOTICE
		SET
		HIT_COUNT = HIT_COUNT + 1
		WHERE NOTICE_ID = #{nid}
	</update>

	<!-- 댓글 -->
	<select id="replyList" resultType="ReplyVO">
		select * from tbl_reply
		where notice_id=#{id}
		order by reply_id 
	</select>
	
	<delete id="deleteReply" parameterType="int">
		delete from tbl_reply where reply_id = #{rid}
	</delete>
	
	<insert id="insertReply" parameterType="ReplyVO">
		<selectKey keyProperty="replyId" resultType="int" order="BEFORE">
			select reply_seq.nextval from dual
		</selectKey>
		
		<!-- selectKey 를 통해 property 값을 replyId 로 하고 
		아래 insert 쿼리가 실행되기 전에(order"BEFORE) 
		int 타입으로 쿼리 실행후 값을 보내준다  -->
		insert into tbl_reply (reply_id, notice_id, reply_title, reply_subject, reply_writer)
		values(#{replyId}, #{noticeId}, #{replyTitle}, #{replySubject}, #{replyWriter} )
	</insert>


</mapper>